/***********通用样式***********/
body,p,ul,dl,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
body{font-family: "微软雅黑", sans-serif;font-size:18px}
ul{ list-style-type: none;}
a{text-decoration:none;color:#333}
.fl{float:left}
.fr{float:right}
.clear{clear:both}
.block{display:block}
.bold{font-weight: bold}
.overflow{overflow:hidden}
.relative{position:relative;}
.absolute{position:absolute}
.center{text-align: center}
footer iframe{position:absolute}



