/********注册页面*********/
header{margin:0;}
#header{width:100%;frame-border: none}
section{width:950px;margin:0 auto 170px auto;}
.page-title{font-size:40px;color:#609a59;margin-top:100px;margin-bottom:68px;text-align: center;font-weight: normal}
div.form{width:468px;margin:0 auto;}
form.zhuce p{overflow: hidden;margin-bottom: 36px}
form.zhuce span{width:95px;display: inline-block;text-align: right;margin-right:15px;color:#609a59;font-size:15px}
form.zhuce input{height:38px;border:1px solid #4dc43f;border-radius: 10px;width:335px;padding-left:20px}
form input:focus{outline: none}
form.zhuce span.absolute{cursor:pointer;border-left: 1px solid #4dc43f;height:41px;right:10px;line-height:41px;color:#49c33a }
form.zhuce input[type='checkbox']{width:20px;height:20px;background: none;border:1px solid #4dc43f;width:15px;height:15px ;margin-left:110px}
form.zhuce input[type='submit']{height:40px;cursor:pointer;width:357px;margin-left:110px;background: #49c33a;color:#fff;font-family: "微软雅黑", sans-serif;font-size:14px}
form.zhuce a{color:#49c33a}



/********登录页面*********/
#container{position:fixed;width:100%;height:100%;top:0;left:0}
#container img{width:100%}
div.login{height:510px;width:575px;right:220px;top:50px;background: url("../img/denglu.png") no-repeat center }
form.login{width:375px;margin:170px  auto 0 auto}
form.login p{margin-bottom:18px}
form.login input{color:#fff;text-align:center;width:368px;height:56px;border:1px solid #fff;border-radius: 10px;background: rgba(255,255,255,0.2)}
#denglu{margin-left:0;font-size:20px;cursor: pointer;width:368px;background: rgba(255,255,255,0)}
form.login a{color:#fff}
.mgr5{margin-right:5px}
form.login input[name='uname']{background: url("../img/username.png") no-repeat 10px -1px}
form.login input[name='pwd']{background: url("../img/mmk1.png") no-repeat 10px 8px}
